<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Les singeries - Blog</title>
    <link rel="stylesheet" href="/css/output.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
          rel="stylesheet"/>
</head>
<body>

<header class="bg-green-950 text-white p-4" aria-label="En-tête">
    <div class="max-w-6xl mx-auto flex justify-between items-center">

        <a href="/" aria-label="Retour à la page d'accueil">
            <img src="/assets/loogo-singe-blanc.svg" alt="Logo" class="w-72 h-auto">
        </a>

        <nav aria-label="Navigation principale">
            <ul class="flex space-x-4">
                <li><a href="/" class="text-white hover:text-gray-300"
                       aria-label="Aller à la page d'accueil">Accueil</a>
                </li>
                <li><a href="/blog" class="text-white hover:text-gray-300" aria-label="Lire notre blog">Blog</a></li>
                <li><a href="/contact" class="text-white hover:text-gray-300" aria-label="Nous contacter">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<section class="bg-gray-200 py-8">
    <div class="container mx-auto px-4">
        <h1 class="text-5xl font-bold mb-6 text-center">Les Singeries: Le blog</h1>
        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">

            <article class="bg-white rounded overflow-hidden shadow-lg flex-col flex justify-between">
                <div>
                    <img class="w-full" src="/assets/blog/singe_golmon.png" alt="singe drole">
                    <div class="px-6 py-4">
                        <h3 class="font-bold text-xl mb-2">Quand un singe utilise Tinder</h3>
                        <p class="text-gray-700 text-base">
                            Imaginez un singe qui découvre Tinder. Ses selfies ? Des chefs-d'œuvre avec des bananes. Sa
                            bio
                            ? 'Juste ici pour voler ton cœur (et tes snacks).' Les rendez-vous se passent dans des
                            arbres et
                            la seule chose qu'il ghost, c'est les gardiens du zoo.
                        </p>
                    </div>
                </div>
                <div class="px-6 pt-4 pb-2 self-end">
                    <button class="like-button flex items-center space-x-2 text-green-950 hover:text-blue-600">
                        <span class="material-symbols-outlined">thumb_up</span>
                        <span class="like-count">0</span>
                    </button>
                </div>
            </article>


            <article class="bg-white rounded overflow-hidden shadow-lg flex-col flex justify-between">
                <div>
                    <img class="w-full" src="/assets/blog/singe_penseur.png" alt="singe penseur">
                    <div class="px-6 py-4">
                        <h3 class="font-bold text-xl mb-2">Le singe qui a lancé une startup</h3>
                        <p class="text-gray-700 text-base">
                            Un singe a décidé de lancer sa startup : BananApp, une application révolutionnaire pour
                            échanger
                            des bananes. Pitch aux investisseurs ? Un simple cri. Le code vestimentaire ? Poilu chic.
                            Son
                            premier employé ? Un perroquet comme directeur marketing.
                        </p>
                    </div>
                </div>
                <div class="px-6 pt-4 pb-2 self-end">
                    <button class="like-button flex items-center space-x-2 text-green-950 hover:text-blue-600">
                        <span class="material-symbols-outlined">thumb_up</span>
                        <span class="like-count">0</span>
                    </button>
                </div>
            </article>


            <article class="bg-white rounded overflow-hidden shadow-lg flex-col flex justify-between">
                <div>
                    <img class="w-full" src="/assets/blog/singe_selfie.png" alt="singe selfie">
                    <div class="px-6 py-4">
                        <h3 class="font-bold text-xl mb-2">Singes vs Réseaux Sociaux</h3>
                        <p class="text-gray-700 text-base">
                            Les singes ont pris d'assaut les réseaux sociaux. Leur contenu ? Des vines (littéralement).
                            Leur
                            challenge préféré ? Le Banana Flip Challenge. Leur hashtag tendance ? #PrimateLife.
                            Instagram
                            est confus, TikTok est impressionné.
                        </p>
                    </div>
                </div>
                <div class="px-6 pt-4 pb-2 self-end">
                    <button class="like-button flex items-center space-x-2 text-green-950 hover:text-blue-600">
                        <span class="material-symbols-outlined">thumb_up</span>
                        <span class="like-count">0</span>
                    </button>
                </div>
            </article>


            <article class="bg-white rounded overflow-hidden shadow-lg flex-col flex justify-between">
                <div>
                    <img class="w-full" src="/assets/blog/singe_pc.png" alt="singe PC">
                    <div class="px-6 py-4">
                        <h3 class="font-bold text-xl mb-2">Le singe qui a appris à coder</h3>
                        <p class="text-gray-700 text-base">
                            Un singe s'est mis au codage et a créé 'MonkeyScript', un langage de programmation qui
                            transforme toute erreur en une photo de banane. Les bugs ? Des cacahuètes virtuelles. Son
                            premier projet ? Un site de critique de zoo.
                        </p>
                    </div>
                </div>
                <div class="px-6 pt-4 pb-2 self-end">
                    <button class="like-button flex items-center space-x-2 text-green-950 hover:text-blue-600">
                        <span class="material-symbols-outlined">thumb_up</span>
                        <span class="like-count">0</span>
                    </button>
                </div>
            </article>


            <article class="bg-white rounded overflow-hidden shadow-lg flex-col flex justify-between">
                <div>
                    <img class="w-full" src="/assets/blog/singe_chest.png" alt="singe echecs">
                    <div class="px-6 py-4">
                        <h3 class="font-bold text-xl mb-2">Le jour où un singe a battu un grand maître d'échecs</h3>
                        <p class="text-gray-700 text-base">
                            Un singe a défié un grand maître d'échecs. Sa stratégie ? Faire des grimaces jusqu'à ce que
                            l'adversaire soit distrait. Le coup de grâce ? Un mouvement illégal : le saut de
                            l'orang-outan.
                            L'issue ? Un match nul, car le singe a mangé les pièces.
                        </p>
                    </div>
                </div>
                <div class="px-6 pt-4 pb-2 self-end">
                    <button class="like-button flex items-center space-x-2 text-green-950 hover:text-blue-600">
                        <span class="material-symbols-outlined">thumb_up</span>
                        <span class="like-count">0</span>
                    </button>
                </div>
            </article>


            <article class="bg-white rounded overflow-hidden shadow-lg flex-col flex justify-between">
                <div>
                    <img class="w-full" src="/assets/blog/singe_roi.png" alt="le roi des singes">
                    <div class="px-6 py-4">
                        <h3 class="font-bold text-xl mb-2">Singes influents : Qui sont-ils ?</h3>
                        <p class="text-gray-700 text-base">
                            Les singes influents de cette année incluent : Bananaman, le premier à ouvrir un blog de
                            mode pour primates ; MonkeyPaw, un critique culinaire spécialisé dans les fruits exotiques ;
                            et SwingVlogger, un aventurier qui partage ses parcours d'obstacles dans la jungle.
                        </p>
                    </div>
                </div>
                <div class="px-6 pt-4 pb-2 self-end">
                    <button class="like-button flex items-center space-x-2 text-green-950 hover:text-blue-600">
                        <span class="material-symbols-outlined">thumb_up</span>
                        <span class="like-count">0</span>
                    </button>
                </div>
            </article>

        </div>
    </div>
</section>

<footer class="bg-green-950 p-4">
    <div class="max-w-6xl mx-auto flex flex-wrap justify-between">
        <div>
            <img src="/assets/loogo-singe-blanc.svg" alt="Logo" class="w-full">
        </div>

        <nav aria-label="Footer navigation">
            <ul class="space-y-2">
                <li><a aria-label="accueil" href="/" class="text-white hover:text-gray-300">Accueil</a></li>
                <li><a aria-label="blog" href="/blog" class="text-white hover:text-gray-300">Blog</a></li>
                <li><a aria-label="contact" href="/contact" class="text-white hover:text-gray-300">Contact</a></li>
            </ul>
        </nav>

        <div>
            <h2 class="text-lg font-semibold text-white">Inscrivez-vous à notre newsletter</h2>
            <form action="#" method="POST" class="mt-2 flex flex-col text-black">
                <label class="text-white" for="email-newsletter">Adresse email</label>
                <input type="email" id="email-newsletter" name="email" placeholder="singe@email.com"
                       class="p-2 rounded text-black" required>
                <button type="submit" class="p-2 bg-green-500 rounded hover:bg-blue-600 text-black">S'abonner</button>
            </form>
        </div>
    </div>
    <div class="w-full text-center text-white mt-4 font-bold">
        <p>Un blog marrant sur les singes</p>
    </div>
</footer>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const likeButtons = document.querySelectorAll('.like-button');
        likeButtons.forEach(button => {
            button.addEventListener('click', function () {
                const likeCountSpan = this.querySelector('.like-count');
                const likeCount = parseInt(likeCountSpan.textContent, 10);
                likeCountSpan.textContent = likeCount + 1;
                this.querySelector('.material-symbols-outlined').textContent = 'thumb_up';
            });
        });
    });
</script>


</body>
</html>