<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les singeries - Page d'accueil</title>
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>
<body>

<header class="bg-green-950 text-white p-4" aria-label="En-tête">
    <div class="max-w-6xl mx-auto flex justify-between items-center">

        <a href="/" aria-label="Retour à la page d'accueil">
            <img src="/assets/loogo-singe-blanc.svg" alt="Logo" class="w-72 h-auto">
        </a>

        <nav aria-label="Navigation principale">
            <ul class="flex space-x-4">
                <li><a href="/" class="text-white hover:text-gray-300" aria-label="Aller à la page d'accueil">Accueil</a>
                </li>
                <li><a href="/blog" class="text-white hover:text-gray-300" aria-label="Lire notre blog">Blog</a></li>
                <li><a href="/contact" class="text-white hover:text-gray-300" aria-label="Nous contacter">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<section class="bg-gray-200 py-8">
    <div class="container mx-auto px-4">
        <h2 class="text-3xl font-bold text-center mb-6">Contactez-nous</h2>
        <form action="#" method="POST" class="max-w-xl mx-auto">
            <div class="mb-4">
                <label for="name" class="block text-sm font-medium text-gray-700">Nom complet</label>
                <input type="text" id="name" name="name" required class="mt-1 p-2 w-full border rounded-md shadow-sm" aria-required="true" placeholder="Votre nom complet">
            </div>
            <div class="mb-4">
                <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
                <input type="email" id="email" name="email" required class="mt-1 p-2 w-full border rounded-md shadow-sm" aria-required="true" placeholder="votre@email.com">
            </div>
            <div class="mb-4">
                <label for="message" class="block text-sm font-medium text-gray-700">Message</label>
                <textarea id="message" name="message" rows="4" required class="mt-1 p-2 w-full border rounded-md shadow-sm" aria-required="true" placeholder="Votre message ici"></textarea>
            </div>
            <div class="text-center">
                <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
                    Envoyer
                </button>
            </div>
        </form>
    </div>
</section>

<footer class="bg-green-950 p-4">
    <div class="max-w-6xl mx-auto flex flex-wrap justify-between">
        <div>
            <img src="/assets/loogo-singe-blanc.svg" alt="Logo" class="w-full">
        </div>

        <nav aria-label="Footer navigation">
            <ul class="space-y-2">
                <li><a aria-label="accueil" href="/" class="text-white hover:text-gray-300">Accueil</a></li>
                <li><a aria-label="blog" href="/blog" class="text-white hover:text-gray-300">Blog</a></li>
                <li><a aria-label="contact" href="/contact" class="text-white hover:text-gray-300">Contact</a></li>
            </ul>
        </nav>

        <div>
            <h2 class="text-lg font-semibold text-white">Inscrivez-vous à notre newsletter</h2>
            <form action="#" method="POST" class="mt-2 flex flex-col text-black">
                <label class="text-white" for="email-newsletter">Adresse email</label>
                <input type="email" id="email-newsletter" name="email" placeholder="singe@email.com"
                       class="p-2 rounded text-black" required>
                <button type="submit" class="p-2 bg-green-500 rounded hover:bg-blue-600 text-black">S'abonner</button>
            </form>
        </div>
    </div>
    <div class="w-full text-center text-white mt-4 font-bold">
        <p>Un blog marrant sur les singes</p>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".mySwiper", {
        loop: true,
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
            delay: 5000,
            disableOnInteraction: false,
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        a11y: {
            enabled: true,
            prevSlideMessage: 'Slide précédent',
            nextSlideMessage: 'Slide suivant',
            firstSlideMessage: 'Ceci est le premier slide',
            lastSlideMessage: 'Ceci est le dernier slide',
            paginationBulletMessage: 'Aller au slide {{index}}',
        },
    });
</script>
</body>
</html>
