<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les singeries - Page d'accueil</title>
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>
<body>

<header class="bg-green-950 text-white p-4" aria-label="En-tête">
    <div class="max-w-6xl mx-auto flex justify-between items-center">

        <a href="/" aria-label="Retour à la page d'accueil">
            <img src="/assets/loogo-singe-blanc.svg" alt="Logo" class="w-72 h-auto">
        </a>

        <nav aria-label="Navigation principale">
            <ul class="flex space-x-4">
                <li><a href="/" class="text-white hover:text-gray-300" aria-label="Aller à la page d'accueil">Accueil</a>
                </li>
                <li><a href="/blog" class="text-white hover:text-gray-300" aria-label="Lire notre blog">Blog</a></li>
                <li><a href="/contact" class="text-white hover:text-gray-300" aria-label="Nous contacter">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div class="swiper mySwiper h-full" role="region" aria-roledescription="carousel" aria-label="Gallery">
    <div class="swiper-wrapper">
        <div class="swiper-slide flex justify-center items-center text-center text-lg bg-white" role="group"
             aria-roledescription="slide" aria-label="Slide 1">
            <img class="h-1/2 w-full" src="/assets/singe-1.png" alt="image de singe 1">
        </div>
        <div class="swiper-slide flex justify-center items-center text-center text-lg bg-white" role="group"
             aria-roledescription="slide" aria-label="Slide 2">
            <img class="w-full" src="/assets/singe-2.png" alt="image de singe 2">
        </div>
        <div class="swiper-slide flex justify-center items-center text-center text-lg bg-white" role="group"
             aria-roledescription="slide" aria-label="Slide 3">
            <img class="h-1/2 w-full" src="/assets/singe-3.png" alt="image de singe 3">
        </div>
    </div>
    <div class="swiper-pagination" role="navigation" aria-label="Pagination"></div>
    <div class="swiper-button-next text-white" role="button" aria-controls="mySwiper" aria-label="Next slide"></div>
    <div class="swiper-button-prev" role="button" aria-controls="mySwiper" aria-label="Previous slide"></div>
</div>

<section class="py-12 px-4">
    <div class="container mx-auto text-center">
        <h1 class="text-5xl font-bold mb-6">Les Singeries: La Gazette des Branchés</h1>
        <p class="text-xl mb-4">
            Bienvenue dans le seul coin de la toile où les bananes sont plus convoitées que les likes !
        </p>
        <p class="">
            À "Les Singeries", nous n'avons pas peur de nous accrocher les pieds dans les lianes pour vous apporter les
            histoires les plus cocasses et les faits les plus saugrenus du royaume des primates. De la paresse
            majestueuse des orangs-outans aux pirouettes endiablées des tamarins, préparez-vous à un voyage épique à
            travers la canopée des curiosités. Laissez vos préoccupations humaines derrière vous et plongez dans un
            monde où les singes sont rois, et les éclats de rire, garantis. Attrapez votre chapeau de brousse, votre
            loupe, et une grappe de bananes pour une aventure où chaque page tourne plus vite que la queue d'un gibbon.
            Bienvenue sur "Les Singeries", le blog qui vous emmène swinger d'arbre en arbre dans la jungle joyeuse du
            savoir simiesque !
        </p>
    </div>
</section>

<section class="container mx-auto py-8">
    <div class="flex flex-wrap -mx-4 p-4 rounded bg-green-950 text-white justify-center">
        <div class="w-full md:w-1/2 px-4">
            <h2 class="text-2xl font-bold mb-4">Petite vidéo à la cool</h2>
            <p class="mb-6">Voici une petite vidéo retranscrite pour les malentendants sur les singes. Appréciez la vie. Apprécie chaque instant.</p>

            <span id="openDrawer" class="text-white hover:text-green-200 underline mb-4 font-xs">
                Ouvrir la transcription
            </span>

        </div>
        <div class="w-full md:w-1/2 px-4">
            <div class="responsive-iframe rounded">
                <iframe
                        title="video singes sexuelle"
                        class="w-full rounded" style="height: 300px;"
                        src="/assets/Bonobos-libres.mp4"
                        loading="lazy"
                        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                ></iframe>
            </div>
        </div>
    </div>
</section>

<section class="py-8 bg-gray-200">
    <div class="container mx-auto px-4">
        <h2 class="text-3xl font-bold text-center">Population de Bonobos</h2>
        <table class="table-auto w-full text-left whitespace-no-wrap">
            <caption class="text-xl font-semibold p-5">
                Population estimée de bonobos dans le monde de 1950 à nos jours
            </caption>
            <thead class="bg-green-950 text-white">
            <tr>
                <th scope="col" class="px-4 py-2">Année</th>
                <th scope="col" class="px-4 py-2">Population estimée</th>
                <th scope="col" class="px-4 py-2">Remarques</th>
            </tr>
            </thead>
            <tbody class="bg-white">
            <tr>
                <td class="border px-4 py-2">1950</td>
                <td class="border px-4 py-2">20,000</td>
                <td class="border px-4 py-2">Estimation initiale</td>
            </tr>
            <tr class="bg-green-100">
                <td class="border px-4 py-2">1970</td>
                <td class="border px-4 py-2">15,000</td>
                <td class="border px-4 py-2">Déclin dû à la perte d'habitat</td>
            </tr>
            <tr>
                <td class="border px-4 py-2">1990</td>
                <td class="border px-4 py-2">10,000</td>
                <td class="border px-4 py-2">Impact de la chasse</td>
            </tr>
            <tr class="bg-green-100">
                <td class="border px-4 py-2">2010</td>
                <td class="border px-4 py-2">5,000</td>
                <td class="border px-4 py-2">Augmentation des efforts de conservation</td>
            </tr>
            <tr>
                <td class="border px-4 py-2">2020</td>
                <td class="border px-4 py-2">3,800</td>
                <td class="border px-4 py-2">Statut critique</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

<footer class="bg-green-950 p-4">
    <div class="max-w-6xl mx-auto flex flex-wrap justify-between">
        <div>
            <img src="/assets/loogo-singe-blanc.svg" alt="Logo" class="w-full">
        </div>

        <nav aria-label="Footer navigation">
            <ul class="space-y-2">
                <li><a aria-label="accueil" href="/" class="text-white hover:text-gray-300">Accueil</a></li>
                <li><a aria-label="blog" href="/blog" class="text-white hover:text-gray-300">Blog</a></li>
                <li><a aria-label="contact" href="/contact" class="text-white hover:text-gray-300">Contact</a></li>
            </ul>
        </nav>

        <div>
            <h2 class="text-lg font-semibold text-white">Inscrivez-vous à notre newsletter</h2>
            <form action="#" method="POST" class="mt-2 flex flex-col text-black">
                <label class="text-white" for="email-newsletter">Adresse email</label>
                <input type="email" id="email-newsletter" name="email" placeholder="singe@email.com"
                       class="p-2 rounded text-black" required>
                <button type="submit" class="p-2 bg-green-500 rounded hover:bg-blue-600 text-black">S'abonner</button>
            </form>
        </div>
    </div>
    <div class="w-full text-center text-white mt-4 font-bold">
        <p>Un blog marrant sur les singes</p>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".mySwiper", {
        loop: true,
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
            delay: 5000,
            disableOnInteraction: false,
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        a11y: {
            enabled: true,
            prevSlideMessage: 'Slide précédent',
            nextSlideMessage: 'Slide suivant',
            firstSlideMessage: 'Ceci est le premier slide',
            lastSlideMessage: 'Ceci est le dernier slide',
            paginationBulletMessage: 'Aller au slide {{index}}',
        },
    });


    const openDrawerBtn = document.getElementById('openDrawer');
    const closeDrawerBtn = document.getElementById('closeDrawer');
    const drawer = document.getElementById('drawer');

    openDrawerBtn.addEventListener('click', () => {
        drawer.classList.remove('hidden');
    });

    closeDrawerBtn.addEventListener('click', () => {
        drawer.classList.add('hidden');
    });
</script>
</body>
</html>
